* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}



.game {
  background-color: grey;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  text-align: center;

}

.game .discount{
  background-color: green;
  border: 1px black solid;
  position: absolute;
  top:0;
  right:0;

}

.game .red {
  background-color: red;
}

main {
  width: 1000px;
  margin: auto;
  text-align: center;

}

.heart {
  font-size: 30px;
  position: absolute;
  botton: 0;
  left: 0;
  color: red;
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.game:hover .heart{
  visibility: visible;

}

.game img {
  max-width: 200px;
  vertical-align: middle;

}
